@model WebApplication4.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_bloodgroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_bloodgroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_wallet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_wallet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.u_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
