@model IEnumerable<WebApplication4.Models.Transaction>

@{
    ViewData["Title"] = "Transactions";
}

<h1>Transaction History</h1>
<br />
<p>See:@ViewData["param1"]</p>
<form action="@Url.Action("Index_s", "Transactions")" method="get">
    
        
      <input type="text" name="searchString" />

        <input type="submit" value="Search" />
    
</form>

<p>
    @* <a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                User ID
            </th>
            <th>
                Transaction Blood Type
            </th>
            <th>
                Transaction Status
            </th>
            <th>
                Transaction Type
            </th>
            <th>
                Quantity of Blood
            </th>
            <th>
                Blood Price
            </th>
            <th>
                Transaction Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.u_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.u_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_bloodtype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_bloodquantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_bloodprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.t_Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.t_Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.t_Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
