@model WebApplication4.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.e_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.e_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.e_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.e_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.e_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.e_Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.e_centre_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.e_centre_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.e_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
